<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>SW</title>

        <link rel="stylesheet" href="../stylesheets/css/style.css">

    
  </head>

  <body>

    <div id="wrap">
  <div id="regbar">
    <div id="navthing">
      <h2><a href="#" id="loginform">Login</a> | <a href="register.html">Register</a></h2>

    <div class="login">
      <form method="post" action="../controllers/user.php">
        <div class="arrow-up"></div>
        <div class="formholder">
          <div class="randompad">
            <fieldset>
              <label name="nickname">Nickname</label>
              <input type="text" name="nickname"  /><br>
              <label name="password">Password</label>
              <input type="password" name="password" />
              <input type="submit" value="Login" name="login" />
            </fieldset>
          </div>
        </div>
      </form>
    </div>

    </div>
  </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="../stylesheets/js/index.js"></script>

    
    
    
  </body>
</html>
