<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form method="post" action="../controllers/user.php">
    <div class="arrow-up"></div>
    <div class="formholder">
        <div class="randompad">
            <fieldset>
                <label name="nickname">Nickname</label>
                <input type="text" name="nickname"  /><br>
                <label name="password">Password</label>
                <input type="password" name="password" />
                <label name="password">Confirm Password</label>
                <input type="password" name="password2" />
                <input type="submit" value="Register" name="register" />
            </fieldset>
        </div>
    </div>
</form>
</body>
</html>